extends ../layout/main

block variables
	- var title = 'Мистер Бургер'

block content
	// Блок pagin
	include ../modules/pagin
	// Cекция header
	include ../section/header
	// Cекция about
	include ../section/about
	// Cекция burger
	include ../section/burger
	// Cекция team
	include ../section/team
	// Cекция menu
	include ../section/menu
	// Cекция reviews
	include ../section/reviews
	// Cекция order
	include ../section/order
	// Cекция footer
	include ../section/footer