// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

/* Стили секции header */
@import 'section/header.styl'


/* Стили секции about */
@import 'section/about.styl'

/* Стили секции burger */
@import 'section/burger.styl'

/* Стили секции team */
@import 'section/team.styl'

/* Стили секции menu */
@import 'section/menu.styl'

/* Стили секции reviews */
@import 'section/reviews.styl'


/* Стили секции order */
@import 'section/order.styl'

/* Стили секции footer */
@import 'section/footer.styl'


// Компоненты
@import "common/common.styl"