@font-face 
	font-family "Gagalin"
	src url("../fonts/Gagalin-Regular.otf") format("opentype");
	font-style normal
	font-weight normal

@font-face 
	font-family "Lifehack"
	src url("../fonts/Lifehack.otf") format("opentype");
	font-style normal
	font-weight normal

@font-face 
	font-family "UbuntuRegular"
	src url("../fonts/Ubuntu-Regular.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "UbuntuBold"
	src url("../fonts/Ubuntu-B.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "UbuntuLight"
	src url("../fonts/Ubuntu-Light.ttf") format("truetype");
	font-style normal
	font-weight normal

@font-face 
	font-family "UbuntuMedium"
	src url("../fonts/Ubuntu-Medium.ttf") format("truetype");
	font-style normal
	font-weight normal