// ЦВЕТА

accentColor = #e45028
hoverColor = #c1401e
lightColor = #f9b43b
lightHelpColor = #eb8c38
darkColor = #2f3234

// РАЗМЕРЫ


// ШРИФТЫ

mainFont = "UbuntuRegular", Arial, sans-serif
boldFont = "UbuntuBold", Arial, sans-serif
lightFont = "UbuntuLight", Arial, sans-serif
mediumFont = "UbuntuMedium", Arial, sans-serif
gagalinFont = "Gagalin", Arial, sans-serif
lifehackFont = "Lifehack", Arial, sans-serif