// Подключаемые компоненты

/* Cтили блока buttons */
@import "buttons.styl"

/* Cтили блока nav */
@import "nav.styl"

/* Cтили блока descr */
@import "descr.styl"

/* Cтили блока composition */
@import "composition.styl"

/* Cтили блока kkal */
@import "kkal.styl"

/* Cтили блока social */
@import "social.styl"

/* Cтили блока pagin */
@import "pagin.styl"