// Подключаемые компоненты

/* Cтили блока buttons */
@import "buttons.styl"
/* Конец блока buttons */

/* Cтили блока nav */
@import "nav.styl"
/* Конец блока nav */

/* Cтили блока descr */
@import "descr.styl"
/* Конец блока descr */

/* Cтили блока composition */
@import "composition.styl"
/* Конец блока composition */

/* Cтили блока kkal */
@import "kkal.styl"
/* Конец блока kkal */