/* burger__composition */

.composition
	border-radius 5px
	overflow hidden
	background rgba(255,255,255,.9)

.composition__item
	display flex
	align-items center
	justify-content space-between
	padding 10px 20px
	cursor pointer
	width 270px
	.icon
		size(50px)
		margin-right 20px
	&:hover
		background rgba(255,255,255,1)

.composition__name
	display block
	font-family mediumFont
	margin-right auto

.composition__mass
	font-family lightFont
	white-space: nowrap