/* burger__descr */

.descr
	background #F08C33
	text-align center
	padding 15px 20px
	border-radius 5px
	cursor pointer
	trs()
	.icon
		display block
		size(50px)
		margin-bottom 10px
	&:hover
		background accentColor 

.descr__text
	color white
	font-family gagalinFont
	font-size 14px
	letter-spacing 2px