/* .burger__kkal */

.kkal
	position relative
	color white
	font-family gagalinFont
	letter-spacing 2px
	padding-left 15px
	padding-top 30px
	trs()
	opacity 0.5
	.icon
		size(60px)
		position absolute
		top 2px
		left 2px
	&:hover
		opacity 1

.kkal__num
	font-size 20px
	display block
	margin-bottom 20px

.kkal__text
	font-size 14px
	text-transform uppercase