.about
	background url(../img/content/about/about__bg.jpg) center center no-repeat
	background-size cover
	padding-top 5rem
	text-align center
	color darkColor

.about__title
	margin-bottom 5.5rem

.about__list
	display flex
	justify-content space-between

.about__item
	width 300px
	padding 0 12px

.about__icon
	margin-bottom rem(40) 
	.icon
		size(105px, 95px)

.about__name
	display block
	font-family lifehackFont
	font-size 24px 
	margin-bottom rem(30)

.about__text
	line-height 24px
	font-family lightFont 