.header
	background url(../img/content/header/header__bg.jpg) center center no-repeat
	background-size cover

.header__wrap
	display flex
	flex-direction column
	justify-content space-between
	min-height: 100vh

.header__top
	display flex
	align-items center
	padding-top 15px

.header__nav
	margin-left auto

.header__middle
	display flex
	align-items center
	flex auto

.header__burger
	width 100%
	margin-top -3rem
	img
		width 100%

.header__title
	color lightColor

.header__subtitle
	color white
	font-size 65px
	font-family lifehackFont
	line-height 85px

.header__bottom
	padding-bottom 40px
	text-align center

.header__arrow
	.icon
		width 35px
		height 18px
		fill white
		cursor pointer